html {
    box-sizing: border-box;
    font-size: 62.5%; /* equivalente a 10px en rem*/
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Globales */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2; /* interlineado*/
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}
/* Utilidades */
.text-center {
    text-align: center;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .5s ease-out;
    text-align: center;
    border: none;
}

.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

.max-width-30 {
    max-width: 30rem;
}

/* Header y navegacion */
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-principal {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal {
    display: flex;
    justify-content:space-around;
    padding: 2rem 0;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorías */
.categorias {
    padding-top: 5rem;
}
.categorias h2 {
    text-align: center;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

/* Sobre nosotros */
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 130rem;
    background-position: left center;
    padding: 10rem 0;
}

.sobre-nosotros-flex {
    display: flex;
    justify-content: right;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}

/* Listado productos */

.contenido-principal {
    padding-top: 5rem;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

.producto:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2) {
    grid-column: 1 / 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column: 4 / 7;
}

.producto:nth-child(4) {
    grid-column: 1 / 3;
}

.producto:nth-child(5) {
    grid-column: 3 / 5;
}

.producto:nth-child(6) {
    grid-column: 5 / 7;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/* footer */
.site-footer {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: 1px solid #e1e1e1;
}

.site-footer h3 {
    margin-bottom: .5rem;
}
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}


/* Pagina Nosotros */
.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros {
    display: flex;
    align-items: center;
}

/* Pagina Blog */
.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: 700;
}

.entrada-meta span {    
    color: #037bc0;
}

/* Entrada Blog */
.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

/* Pagina Galería */
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.galeria img {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
}

/* Pagina Contacto */
.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid #005485;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: #005485;
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 3rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

